In [ ]:
#key 값은 절대로 변하지 않으며 value 값만 변경가능
#딕셔너리는 순서를 신경안써도 됨-> 키값만 변동하면됨, 위치변동 필요없음

In [30]:
## 튜플 데이터의 형태
a = (10, "test")
b = (3, 3.14)
c = a+b
d = a*3

print(a, b, c, d)

(10, 'test') (3, 3.14) (10, 'test', 3, 3.14) (10, 'test', 10, 'test', 10, 'test')

In [33]:
##a라는 변수에서 10이라는 원소 값 하나만 출력
print(a[0])

10

In [35]:
print(a[1][0])

t

In [2]:
a = (10, 20, 30, 40)

In [3]:

## a라는 튜플에서 2번째 원소부터 4번째 원소까지 출력하려면?
print(a[1:5])
print(a[1:])

(20, 30, 40)
(20, 30, 40)

In [4]:
## a 튜플에서 처음부터 3번째 원소까지 출력?
print(a[:3])
print(a[0:3])

(10, 20, 30)
(10, 20, 30)

In [5]:
a = (10, 20, 30, 40)
print(a[1:5])
print(a[:5])
print(a[:3])

(20, 30, 40)
(10, 20, 30, 40)
(10, 20, 30)

In [37]:
##리스트 형태
a = [20, 10, 90, 5]
b = [10, 20, 30, 40]

In [38]:
print(a)
print(b)

[20, 10, 90, 5]
[10, 20, 30, 40]

In [39]:
#리스트에 있는 내장함수, 오름차순
a.sort()
print(a)

[5, 10, 20, 90]

In [40]:
#역순으로 변경
b.reverse()
print(b)

[40, 30, 20, 10]

In [41]:
#append()-> 리스트 가장 마지막에 원소 추가
a.append(22)
print(a)

[5, 10, 20, 90, 22]

In [44]:
l = []
print(l)
l.append(1)
print(l)

[]
[1]

In [97]:
#1부터 70까지 숫자중에 3의 배수 리스트
a = []
for i in range (3,71,3):
    a.append(i)
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [6]:

a = []
i = 1 
while i <= 70:
    if i % 3 == 0:
        a.append(i)
    i += 1
print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [98]:
a = []
for i in range (1,71,1):
    if i % 3 == 0:
        a.append(i)

print(a)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69]

In [68]:
##딕셔너리 데이터 형태
##사전형 데이터
##(key, value)
dict = {"name" : "test", "age" : 20,"phone" : "01012345678"}
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [72]:
#test 단어 출력
print(dict["name"])

test

In [73]:
# key value 추가
# "area : seoul" 추가
dict["area"]= "seoul"
print(dict)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'seoul'}

In [74]:
#age라는 key 값 30으로 변경
dict["age"]= 30
print(dict)

{'name': 'test', 'age': 30, 'phone': '01012345678', 'area': 'seoul'}

In [7]:
##SQL--> 데이터베이스에서 데이터를 가지고 올때 데이터의 형태
##[{key1 : value1, key2 : value2},{key1 : value3, key2 : value4}]
test_data = [
    {
        "name" : "test",
        "age" : 20
    },
    {
        "name" : "test2",
        "age" : 30
    },
    {
        "name" : "test3",
        "age" : 35
    }
]

In [95]:
print(test_data[0])

{'name': 'test', 'age': 20}

In [96]:
print(test_data[0]["name"])

test

In [113]:
print(test_data[1]["age"])

30

In [105]:
##test_data 에서 나이 20, 30, 35 이 데이터를 추출해서 리스트의 형태로 추출
##비어있는 리스트 생성
result= []
for i in range (0, 3, 1):
    result.append(test_data[i]["age"])
print(result)

[20, 30, 35]

In [107]:
test=[10, 20, 6]

for i in test:
    print(i)

10
20
6

In [108]:
len(test)

3

In [109]:
for i in range(0, len(test), 1):
    print(test[i])

10
20
6

In [118]:
##test_data의 데이터의 형태 -> 리스트 []
result = []
for i in test_data :
    #print(i["age"])
    result.append(i["age"])
print(result)

[20, 30, 35]